<a href="https://colab.research.google.com/github/RezuanaHaque/Detection-if-the-customers-will-leave-the-bank-of-not-with-ANN/blob/main/Detection_if_the_customers_leave_the_bank_of_not.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
url = 'https://raw.githubusercontent.com/RezuanaHaque/Detection-if-the-customers-will-leave-the-bank-of-not-with-ANN/main/Churn_Modelling.csv';
data = pd.read_csv(url)
data.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
x = data.iloc[:, 3:13]
y = data.iloc[:, 13]

In [ ]:
Geography = pd.get_dummies(x['Geography'],drop_first=True)
Gender = pd.get_dummies(x['Gender'],drop_first=True)

In [ ]:
Gender

      Male
0        0
1        0
2        0
3        0
4        0
...    ...
9995     1
9996     1
9997     0
9998     1
9999     0

[10000 rows x 1 columns]

In [ ]:
x = pd.concat([x, Geography, Gender], axis=1)

In [ ]:
x = x.drop(['Geography', 'Gender'], axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [ ]:
x_train

array([[ 0.16958176, -0.46460796,  0.00666099, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-2.30455945,  0.30102557, -1.37744033, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-1.19119591, -0.94312892, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       ...,
       [ 0.9015152 , -0.36890377,  0.00666099, ..., -0.5698444 ,
        -0.57369368,  0.91601335],
       [-0.62420521, -0.08179119,  1.39076231, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-0.28401079,  0.87525072, -1.37744033, ...,  1.75486502,
        -0.57369368, -1.09168714]])

In [ ]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU,ELU,PReLU
from keras.layers import Dropout

In [ ]:
# initializing the ANN
classifier = Sequential()

In [ ]:
from keras.backend import dropout
classifier.add(Dense(units=6, kernel_initializer='he_uniform', activation='relu', input_dim=11))
classifier.add(Dropout(0.3))
classifier.add(Dense(units=5, kernel_initializer='he_uniform', activation='relu'))
classifier.add(Dropout(0.4))
classifier.add(Dense(units=3, kernel_initializer='he_uniform', activation='relu'))
classifier.add(Dropout(0.2))
classifier.add(Dense(units=1, kernel_initializer='glorot_uniform' , activation='sigmoid'))

In [ ]:
# compile and setting the optimizer
classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
model_history = classifier.fit(x_train, y_train, validation_split=0.33, batch_size=10, epochs=100)

Epoch 1/100
536/536 [==============================] - 2s 3ms/step - loss: 0.6370 - accuracy: 0.7589 - val_loss: 0.5431 - val_accuracy: 0.7955
Epoch 2/100
536/536 [==============================] - 1s 2ms/step - loss: 0.5486 - accuracy: 0.7897 - val_loss: 0.5211 - val_accuracy: 0.7955
Epoch 3/100
536/536 [==============================] - 1s 2ms/step - loss: 0.5240 - accuracy: 0.7921 - val_loss: 0.5054 - val_accuracy: 0.7955
Epoch 4/100
536/536 [==============================] - 1s 2ms/step - loss: 0.5121 - accuracy: 0.7946 - val_loss: 0.4977 - val_accuracy: 0.7955
Epoch 5/100
536/536 [==============================] - 1s 2ms/step - loss: 0.5020 - accuracy: 0.7946 - val_loss: 0.4907 - val_accuracy: 0.7955
Epoch 6/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4962 - accuracy: 0.7949 - val_loss: 0.4852 - val_accuracy: 0.7955
Epoch 7/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4975 - accuracy: 0.7968 - val_loss: 0.4809 - val_accuracy: 0.7955
Epoch 8/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4863 - accuracy: 0.7951 - val_loss: 0.4738 - val_accuracy: 0.7955
Epoch 9/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4823 - accuracy: 0.7979 - val_loss: 0.4698 - val_accuracy: 0.7955
Epoch 10/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4796 - accuracy: 0.7968 - val_loss: 0.4634 - val_accuracy: 0.7955
Epoch 11/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4773 - accuracy: 0.7966 - val_loss: 0.4607 - val_accuracy: 0.7955
Epoch 12/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4772 - accuracy: 0.7975 - val_loss: 0.4580 - val_accuracy: 0.7955
Epoch 13/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4737 - accuracy: 0.7983 - val_loss: 0.4536 - val_accuracy: 0.7955
Epoch 14/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4678 - accuracy: 0.8013 - val_loss: 0.4515 - val_accuracy: 0.7955
Epoch 15/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4672 - accuracy: 0.8013 - val_loss: 0.4487 - val_accuracy: 0.7955
Epoch 16/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4682 - accuracy: 0.7990 - val_loss: 0.4469 - val_accuracy: 0.7955
Epoch 17/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4626 - accuracy: 0.7994 - val_loss: 0.4416 - val_accuracy: 0.7955
Epoch 18/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4603 - accuracy: 0.7998 - val_loss: 0.4384 - val_accuracy: 0.7955
Epoch 19/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4620 - accuracy: 0.8000 - val_loss: 0.4379 - val_accuracy: 0.7955
Epoch 20/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4597 - accuracy: 0.8000 - val_loss: 0.4379 - val_accuracy: 0.7955
Epoch 21/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4599 - accuracy: 0.7979 - val_loss: 0.4341 - val_accuracy: 0.7955
Epoch 22/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4529 - accuracy: 0.7990 - val_loss: 0.4323 - val_accuracy: 0.7955
Epoch 23/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4550 - accuracy: 0.7985 - val_loss: 0.4312 - val_accuracy: 0.7955
Epoch 24/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4556 - accuracy: 0.8015 - val_loss: 0.4300 - val_accuracy: 0.7955
Epoch 25/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4553 - accuracy: 0.7992 - val_loss: 0.4297 - val_accuracy: 0.7955
Epoch 26/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4553 - accuracy: 0.8009 - val_loss: 0.4294 - val_accuracy: 0.7955
Epoch 27/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4503 - accuracy: 0.8020 - val_loss: 0.4280 - val_accuracy: 0.7955
Epoch 28/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4526 - accuracy: 0.7994 - val_loss: 0.4279 - val_accuracy: 0.7955
Epoch 29/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4541 - accuracy: 0.8016 - val_loss: 0.4279 - val_accuracy: 0.7955
Epoch 30/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4597 - accuracy: 0.7987 - val_loss: 0.4305 - val_accuracy: 0.7955
Epoch 31/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4550 - accuracy: 0.8009 - val_loss: 0.4306 - val_accuracy: 0.7955
Epoch 32/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4525 - accuracy: 0.8018 - val_loss: 0.4276 - val_accuracy: 0.7955
Epoch 33/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4511 - accuracy: 0.8015 - val_loss: 0.4270 - val_accuracy: 0.7955
Epoch 34/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4487 - accuracy: 0.8020 - val_loss: 0.4256 - val_accuracy: 0.7955
Epoch 35/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4489 - accuracy: 0.8001 - val_loss: 0.4277 - val_accuracy: 0.7955
Epoch 36/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4519 - accuracy: 0.8018 - val_loss: 0.4259 - val_accuracy: 0.7955
Epoch 37/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4495 - accuracy: 0.8011 - val_loss: 0.4262 - val_accuracy: 0.7955
Epoch 38/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4568 - accuracy: 0.8024 - val_loss: 0.4297 - val_accuracy: 0.7955
Epoch 39/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4488 - accuracy: 0.8029 - val_loss: 0.4286 - val_accuracy: 0.7955
Epoch 40/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4480 - accuracy: 0.8033 - val_loss: 0.4263 - val_accuracy: 0.7955
Epoch 41/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4512 - accuracy: 0.8043 - val_loss: 0.4267 - val_accuracy: 0.7955
Epoch 42/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4465 - accuracy: 0.8063 - val_loss: 0.4214 - val_accuracy: 0.7974
Epoch 43/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4421 - accuracy: 0.8067 - val_loss: 0.4160 - val_accuracy: 0.8020
Epoch 44/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4410 - accuracy: 0.8050 - val_loss: 0.4133 - val_accuracy: 0.8111
Epoch 45/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4449 - accuracy: 0.8057 - val_loss: 0.4157 - val_accuracy: 0.8107
Epoch 46/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4472 - accuracy: 0.8052 - val_loss: 0.4150 - val_accuracy: 0.8114
Epoch 47/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4367 - accuracy: 0.8089 - val_loss: 0.4113 - val_accuracy: 0.8160
Epoch 48/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4479 - accuracy: 0.8074 - val_loss: 0.4148 - val_accuracy: 0.8114
Epoch 49/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4501 - accuracy: 0.8057 - val_loss: 0.4178 - val_accuracy: 0.8058
Epoch 50/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4410 - accuracy: 0.8061 - val_loss: 0.4141 - val_accuracy: 0.8126
Epoch 51/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4403 - accuracy: 0.8085 - val_loss: 0.4068 - val_accuracy: 0.8156
Epoch 52/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4330 - accuracy: 0.8140 - val_loss: 0.3995 - val_accuracy: 0.8122
Epoch 53/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4320 - accuracy: 0.8141 - val_loss: 0.3984 - val_accuracy: 0.8122
Epoch 54/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4354 - accuracy: 0.8106 - val_loss: 0.4003 - val_accuracy: 0.8118
Epoch 55/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4358 - accuracy: 0.8128 - val_loss: 0.3999 - val_accuracy: 0.8122
Epoch 56/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4301 - accuracy: 0.8179 - val_loss: 0.4002 - val_accuracy: 0.8122
Epoch 57/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4345 - accuracy: 0.8102 - val_loss: 0.4018 - val_accuracy: 0.8107
Epoch 58/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4294 - accuracy: 0.8158 - val_loss: 0.3985 - val_accuracy: 0.8122
Epoch 59/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4408 - accuracy: 0.8110 - val_loss: 0.4036 - val_accuracy: 0.8111
Epoch 60/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4341 - accuracy: 0.8112 - val_loss: 0.4017 - val_accuracy: 0.8103
Epoch 61/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4391 - accuracy: 0.8117 - val_loss: 0.4018 - val_accuracy: 0.8118
Epoch 62/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4285 - accuracy: 0.8179 - val_loss: 0.3954 - val_accuracy: 0.8175
Epoch 63/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4296 - accuracy: 0.8125 - val_loss: 0.3984 - val_accuracy: 0.8114
Epoch 64/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4325 - accuracy: 0.8102 - val_loss: 0.3948 - val_accuracy: 0.8198
Epoch 65/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4324 - accuracy: 0.8117 - val_loss: 0.3985 - val_accuracy: 0.8133
Epoch 66/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4262 - accuracy: 0.8151 - val_loss: 0.3937 - val_accuracy: 0.8179
Epoch 67/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4256 - accuracy: 0.8128 - val_loss: 0.3961 - val_accuracy: 0.8148
Epoch 68/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4279 - accuracy: 0.8123 - val_loss: 0.3928 - val_accuracy: 0.8247
Epoch 69/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4309 - accuracy: 0.8132 - val_loss: 0.3952 - val_accuracy: 0.8183
Epoch 70/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4259 - accuracy: 0.8156 - val_loss: 0.3890 - val_accuracy: 0.8289
Epoch 71/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4291 - accuracy: 0.8203 - val_loss: 0.3937 - val_accuracy: 0.8205
Epoch 72/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4227 - accuracy: 0.8151 - val_loss: 0.3909 - val_accuracy: 0.8220
Epoch 73/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4275 - accuracy: 0.8128 - val_loss: 0.3917 - val_accuracy: 0.8213
Epoch 74/100
536/536 [==============================] - 2s 4ms/step - loss: 0.4242 - accuracy: 0.8214 - val_loss: 0.3927 - val_accuracy: 0.8183
Epoch 75/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4241 - accuracy: 0.8184 - val_loss: 0.3905 - val_accuracy: 0.8224
Epoch 76/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4334 - accuracy: 0.8112 - val_loss: 0.3947 - val_accuracy: 0.8164
Epoch 77/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4268 - accuracy: 0.8173 - val_loss: 0.3926 - val_accuracy: 0.8190
Epoch 78/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4316 - accuracy: 0.8132 - val_loss: 0.3923 - val_accuracy: 0.8205
Epoch 79/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4267 - accuracy: 0.8186 - val_loss: 0.3925 - val_accuracy: 0.8220
Epoch 80/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4245 - accuracy: 0.8188 - val_loss: 0.3933 - val_accuracy: 0.8198
Epoch 81/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4271 - accuracy: 0.8205 - val_loss: 0.3945 - val_accuracy: 0.8190
Epoch 82/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4223 - accuracy: 0.8199 - val_loss: 0.3895 - val_accuracy: 0.8209
Epoch 83/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4285 - accuracy: 0.8173 - val_loss: 0.3918 - val_accuracy: 0.8194
Epoch 84/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4267 - accuracy: 0.8177 - val_loss: 0.3927 - val_accuracy: 0.8183
Epoch 85/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4231 - accuracy: 0.8158 - val_loss: 0.3913 - val_accuracy: 0.8194
Epoch 86/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4189 - accuracy: 0.8190 - val_loss: 0.3887 - val_accuracy: 0.8217
Epoch 87/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4143 - accuracy: 0.8210 - val_loss: 0.3877 - val_accuracy: 0.8217
Epoch 88/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4203 - accuracy: 0.8194 - val_loss: 0.3863 - val_accuracy: 0.8232
Epoch 89/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4361 - accuracy: 0.8130 - val_loss: 0.3933 - val_accuracy: 0.8186
Epoch 90/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4212 - accuracy: 0.8171 - val_loss: 0.3912 - val_accuracy: 0.8194
Epoch 91/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4244 - accuracy: 0.8214 - val_loss: 0.3908 - val_accuracy: 0.8205
Epoch 92/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4242 - accuracy: 0.8136 - val_loss: 0.3911 - val_accuracy: 0.8167
Epoch 93/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4219 - accuracy: 0.8190 - val_loss: 0.3878 - val_accuracy: 0.8243
Epoch 94/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4246 - accuracy: 0.8166 - val_loss: 0.3891 - val_accuracy: 0.8217
Epoch 95/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4274 - accuracy: 0.8160 - val_loss: 0.3933 - val_accuracy: 0.8190
Epoch 96/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4255 - accuracy: 0.8155 - val_loss: 0.3924 - val_accuracy: 0.8194
Epoch 97/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4281 - accuracy: 0.8160 - val_loss: 0.3946 - val_accuracy: 0.8156
Epoch 98/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4201 - accuracy: 0.8188 - val_loss: 0.3924 - val_accuracy: 0.8232
Epoch 99/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4281 - accuracy: 0.8151 - val_loss: 0.3913 - val_accuracy: 0.8205
Epoch 100/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4248 - accuracy: 0.8147 - val_loss: 0.3911 - val_accuracy: 0.8201

In [ ]:
y_pred = classifier.predict(x_test)
y_pred = (y_pred>.5)

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[1585,   10],
       [ 342,   63]])

In [ ]:
from sklearn.metrics import accuracy_score
ac = accuracy_score(y_test, y_pred)
ac

0.824